@model ShopVM

<!-- Shop Page Heading -->
<section id="Heading">
    <div class="container">
        <div class="heading-content">
            <div class="section-container">
                <h1>The Shop</h1>
                <p>Well designed lights for your home & office environments.  <br> Our high quality lights will make your place modern. </p>
                <div class="category_btns">
                    <a class="learn-more explore category_btn" href="">Home Decor</a>
                    <a class="learn-more explore category_btn" href="">Indoor Lighting</a>
                    <a class="learn-more explore category_btn" href="">Kitchen Lighting</a>
                    <a class="learn-more explore category_btn" href=""> Outdoor Lightning</a>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- Shop Page Heading -->
<!-- Shop Main -->
<section id="Shop">
    <div class="container">
        <div class="section-container">
            <div class="shop-content">
                <!-- Shop Filters -->
                <div class="filters">
                    <div class="filter">
                        <h5>Categories</h5>
                        <ul>
                            @foreach (Category category in Model.Categories)
                            {
                                <li>
                                    <a asp-route-categoryId="@category.Id" >@category.Name</a>
                                    <span>@category.Products.Count()</span>
                                </li>

                            }

                        </ul>

                    </div>
                    <hr>
                    <div class="filter">
                        <h5>Material</h5>
                        <ul>
                            @foreach (Material material in Model.Materials)
                            {
                                <li>
                                    <input type="checkbox" name="" id="">
                                    <a asp-route-materialId="@material.Id">@material.Name</a>
                                    <span>@material.Products.Count()</span>
                                </li>

                            }
                        </ul>

                    </div>
                    <hr>
                    <div class="price-range">
                        <h5>Price Range</h5>
                        <div id="slider-range"></div>
                        <div class="price-amount-range">
                            Price:   $<span id="min-value"></span> - $<span id="max-value"></span>
                            <button>Go</button>
                        </div>

                    </div>

                </div>
                <!-- Shop Filters -->
                <div class="product-grid-view">
                    <div class="d-flex justify-content-between mb-3 align-items-center">
                        <p class="results-count mt-3">Showing 1–12 of 27 results</p>
                        <div class="sort-select">
                            <i class='bx bx-chevron-down'></i>
                            <select name="">
                                <option value="" selected="selected">Default sorting</option>
                                <option value="">Sort by popularity</option>
                                <option value="">Sort by average rating</option>
                                <option value="">Sort by latest</option>
                                <option value="">Sort by price: low to high</option>
                                <option value="">Sort by price: high to low</option>
                            </select>
                        </div>
                    </div>

                    <!-- Products view with grid -->
                    <!-- Product Preview Section -->
                    <section id="HandPicked_Lights">
                        <div class="handLights">
                            @await Html.PartialAsync("_ShopListPartial", Model.Products)
                            

                        </div>
                    </section>
                    <!-- Product Preview Section -->
                    <!-- Products view with grid -->
                    <!-- Pagination -->
                    <div class="pagination">
                        <ul class="pagination-box">
                            @if (Model.Products.PageIndex > 1)
                            {
                                <li><a class="previous" asp-controller="shop" asp-action="index" asp-route-pageIndex="@(Model.Products.PageIndex-1)"><i class='bx bx-left-arrow-alt'></i></a></li>
                            }
                            @for (int i = Model.Products.StartPage; i <= Model.Products.EndPage; i++)
                            {
                                <li class="@(Model.Products.PageIndex == i ? "active":"")">
                                    <a asp-action="Index" asp-controller="shop"  asp-route-pageIndex="@i">@i</a>
                                </li>
                            }

                            @if (Model.Products.PageIndex < Model.Products.TotalPage)
                            {
                                <li >
                                    <a class="next" asp-action="Index" asp-controller="shop"  asp-route-pageIndex="@(Model.Products.PageIndex+1)">
                                        <i class='bx bx-right-arrow-alt'></i>
                                    </a>
                                </li>

                            }

                        </ul>
                    </div>
                    <!-- Pagination -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Main -->